@model IReadOnlyList<MedicalCertificate>
<table class="table table-hover table-condensed">

    <!--Table head-->
    <thead>
        <tr>
            <th>Владелец</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Срок действия</th>
            <th>Группа здоровья</th>
            <th>Группа по физкультуре</th>
            <th>Поликлиника</th>
            <th>Действительна?</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        @foreach (var certificate in Model)
        {
            var nameSurname = certificate.Student.Name + " " + certificate.Student.Surname;
            var start = certificate.StartDate.ToString("dd.MM.yyyy", System.Globalization.CultureInfo.InvariantCulture);
            var finish = certificate.FinishDate.ToString("dd.MM.yyyy", System.Globalization.CultureInfo.InvariantCulture);
            var active = DateTime.Now > certificate.FinishDate ? "Нет" : "Да";
            var tagClass = DateTime.Now > certificate.FinishDate ? "danger" : "success";
            double daysToMonths = 30.4368499;
            double months = certificate.CertificateTerm / daysToMonths;
            var daysString = "";
            var monthsString = "";
            var daysvar = Convert.ToInt32(certificate.CertificateTerm);
            var monthsvar = Math.Ceiling(Convert.ToDouble(String.Format("{0:0.0}", months)));

            daysvar = daysvar % 100;
            if (daysvar >= 11 && daysvar <= 19)
            {
                daysString = " дней";

            }
            var i = certificate.CertificateTerm % 10;
            switch (i)
            {
                case 1:
                    daysString = " день";
                    break;
                case 2:
                case 3:
                case 4:
                    daysString = " дня";
                    break;
                default:
                    daysString = " дней";
                    break;
            }
            var term = String.Format("{0}{2} ({1} месяцев)", Convert.ToInt32(certificate.CertificateTerm), monthsvar, daysString);



            <tr onclick="GetDetailsMedicalCertificateRequest(@certificate.Id)" class="@tagClass cursor-pointer">
                <td>@nameSurname</td>
                <td>@start</td>
                <td>@finish</td>
                <td>@term</td>
                <td>@certificate.HealthGroup.Name</td>
                <td>@certificate.PhysicalEducation.Name</td>
                <td>@certificate.Hospital.Name</td>
                <td>@active</td>
            </tr>
        }
    </tbody>

</table>