@model OperationResultViewModel

@{
    string Message = default(string);
    switch (Model.OperationResult)
    {
        case MedicalCertificates.Web.Models.SharedEntities.OperationResultEnum.Create:
            Message = "Операция создания ";
            break;

        case MedicalCertificates.Web.Models.SharedEntities.OperationResultEnum.Delete:
            Message = "Операция удаления ";
            break;
        case MedicalCertificates.Web.Models.SharedEntities.OperationResultEnum.Edit:
            Message = "Операция изменения ";
            break;
        case MedicalCertificates.Web.Models.SharedEntities.OperationResultEnum.Move:
            Message = "Операция перемещения ";
            break;
    }

    bool isSuccessful = false;

    if (Model.IsSuccessfully)
    {
        Message += "завершена успешно!";
        isSuccessful = true;
    }
    else
    {
        Message += "завершена неудачно.";
    }
    string nodeTitle = default(string);
    string nodeModelId = default(string);
    string nodeParentId = default(string);
    string nodeUserRole = default(string);
    string nodeType = default(string);
    string nodeFolder = default(string);
    if(Model.Node.isHaveParent)
    {
        nodeParentId = Model.Node.parentId.ToString();
    }

}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Результат</h3>
        </div>
        <div class="modal-body">
            <h4 style="text-align:center" class="text-info">@Message</h4>
            @if (Model.AdditionalMessage != "" && Model.IsSuccessfully)
            {
                <h5 style="text-align:center" class="text-info">@Model.AdditionalMessage</h5>
            }
            else if (Model.AdditionalMessage != "" && !Model.IsSuccessfully)
            {
                <h5 style="text-align:center" class="text-danger">@Model.AdditionalMessage</h5>

            }
        </div>
        <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <span id="isSuccessful" hidden>@isSuccessful.ToString()</span>
    @if (isSuccessful)
    {
        <span id="nodeTitle" hidden>@Model.Node.title</span>
        <span id="nodeModelId" hidden>@Model.Node.modelId</span>
        <span id="nodeParentId" hidden>@nodeParentId</span>
        <span id="nodeUserRole" hidden>@Model.Node.userRole</span>
        <span id="nodeType" hidden>@Model.Node.type</span>
        <span id="nodeFolder" hidden>@Model.Node.folder</span>
    }


</div>

