@model IReadOnlyList<Student>

<table class="table table-hover table-condensed">

    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Группа</th>
            <th>Количество справок</th>
            <th>Действительна ли справка?</th>

        </tr>
    </thead>

    <tbody>
        @{
            var people = Model.Count;
            var have = 0;

        }
        @foreach (var student in Model)
        {
            var studentsCount = student.MedicalCertificates.Count;
            var lastCert = student.MedicalCertificates.LastOrDefault();
            var isCertValid = "Нет";
            var tagClass = "danger";
            if (lastCert != null)
            {
                if (lastCert.FinishDate > DateTime.Now)
                {
                    isCertValid = "Да";
                    have++;
                    tagClass = "success";
                }
            }
            <tr class="@tagClass  cursor-pointer" onclick="GetDetailsStudentRequest(@student.Id)">
                <td>@student.Surname</td>
                <td>@student.Name</td>
                <td>@student.SecondName</td>
                <td>@student.Group.Name</td>
                <td>@student.MedicalCertificates.Count</td>
                <td>@isCertValid</td>

            </tr>

        }
    </tbody>
    <tfoot>
        <tr class="success">
            <td>Итого</td>
            <td>Всего студентов: @people</td>
            <td>С актуальными справками: @have</td>
            @{
                double percentageHave = Math.Round((double)(100 * have) / people, 1);
            }
            <td>Процент имеющих справку @percentageHave </td>
            <td>Процент не имеющих справку: @(100-percentageHave)</td>
            <td></td>

        </tr>
    </tfoot>

</table>