@model MedicalCertificates.Web.Models.MedicalCertificatesViewModels.DetailsMedicalCertificatesViewModel


<h2>Описание справки</h2>
    <div>
        @{
            var owner = Model.Student.Name + " " + Model.Student.Surname;
        }
        <div class="form-group row">
            <label class="control-label col-sm-2">Владелец</label>
            <p onclick="GetDetailsStudentRequest(@Model.Student.Id)" readonly>@owner</p>
        </div>
        <div class="form-group row">
            <label asp-for="StartDate" class="control-label col-sm-2"></label>
            <p readonly>@Model.StartDate</p>
        </div>
        <div class="form-group row">
            <label asp-for="FinishDate" class="control-label col-sm-2"></label>
            <p readonly>@Model.FinishDate</p>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2">Группа по физкультуре</label>
            <p readonly>@Model.PhysicalEducation.Name</p>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2">Группа здоровья</label>
            <p readonly>@Model.HealthGroup.Name</p>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2">Поликлиника выдавшая справку</label>
            <p readonly>@Model.Hospital.Name</p>
        </div>
        @{
            var active = DateTime.Now > DateTime.ParseExact(Model.FinishDate, "dd.MM.yyyy", System.Globalization.CultureInfo.InvariantCulture) ? "Нет" : "Да";
        }
        <div class="form-group row">
            <label class="control-label col-sm-2">Актуальна ли справка?</label>
            <p readonly>@active</p>
        </div>
        <p>
            <button onclick="GetDetailsStudentRequest(@Model.Student.Id);" class="btn btn-info">К владельцу</button>
        </p>
    </div>
