@model MedicalCertificates.Web.Models.MedicalCertificatesViewModels.DetailsMedicalCertificatesViewModel


<h2>Описание справки</h2>
<hr />
<div>
    @{
        var owner = Model.Student.Name + " " + Model.Student.Surname;
    }
    <h3>Владелец: <strong>@owner</strong></h3>
    <h3>Дата начала действия: <strong>@Model.StartDate</strong></h3>
    <h3>Дата конца действия: <strong>@Model.FinishDate</strong></h3>
    <h3>Группа здоровья: <strong>@Model.PhysicalEducation.Name</strong></h3>
    <h3>Группа по физкультуре: <strong>@Model.HealthGroup.Name</strong></h3>
    @{
        var active = DateTime.Now > DateTime.ParseExact(Model.FinishDate, "dd.MM.yyyy", System.Globalization.CultureInfo.InvariantCulture) ? "Нет" : "Да";
        var days = 0;
        if (active == "Да")
        {
            days = (DateTime.ParseExact(Model.FinishDate, "dd.MM.yyyy", System.Globalization.CultureInfo.InvariantCulture) - DateTime.Now).Days;
        }
    }
    @if (active == "Да")
    {
        <h3>Дней до конца справки: <strong>@days</strong></h3>
    }
    <h3>Актуальна ли справка: <strong>@active</strong></h3>
    <hr />
    <p>
        <button onclick="GetDetailsStudentRequest(@Model.Student.Id);" class="btn btn-info">К владельцу</button>
    </p>
</div>
