@model IEnumerable<MedicalCertificates.DomainModel.Models.HealthGroup>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button onclick="GetEditHealthGroupRequest(@item.Id)" class="btn btn-default">Изменить</button>
                    <button onclick="GetDetailsHealthGroupRequest(@item.Id)" class="btn btn-default">Подробнее</button>
                    <button onclick="GetDeleteHealthGroupRequest(@item.Id)" class="btn btn-default">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

