@model IEnumerable<MedicalCertificates.DomainModel.Models.HealthGroup>

<h2>Список групп здоровья</h2>
<p>
    <button onclick="GetCreateHealthGroupRequest()" class="btn btn-info">Создать</button>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button onclick="GetEditHealthGroupRequest(@item.Id)" class="btn btn-default">Изменить</button>
                    <button onclick="GetDetailsHealthGroupRequest(@item.Id)" class="btn btn-default">Подробнее</button>
                    <button onclick="GetDeleteHealthGroupRequest(@item.Id)" class="btn btn-default">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

