@model MedicalCertificates.Web.Models.PhysicalEducationViewModels.DetailsPhysicalEducationViewModel

<div>
    <h4>DetailsPhysicalEducationViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <br />
    <button onclick="GetEditPhysicalEducationRequest(@Model.Id);" class="btn btn-default">Изменить</button>
    <br />
    <button onclick="GetIndexPhysicalEducationRequest();" class="btn btn-default">Вернуться к списку</button>
</div>
