@model IEnumerable<MedicalCertificates.DomainModel.Models.PhysicalEducation>

<h2>Список групп по физкультуре</h2>
<p>
    <button onclick="GetCreatePhysicalEducationRequest()" class="btn btn-info">Создать</button>
</p>
<table class="table">
    <thead>
        <tr>
           <th> @Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button onclick="GetEditPhysicalEducationRequest(@item.Id)" class="btn btn-default">Изменить</button>
                <button onclick="GetDetailsPhysicalEducationRequest(@item.Id)" class="btn btn-default">Подробнее</button>
                <button onclick="GetDeletePhysicalEducationRequest(@item.Id)" class="btn btn-default">Удалить</button>
            </td>
        </tr>
}
    </tbody>
</table>
