@model IEnumerable<MedicalCertificates.DomainModel.Models.Hospital>

<h2>Список поликлиник</h2>
<p>
    <button onclick="GetCreateHospitalRequest();" class="btn btn-info">Создать</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Название поликлиники</th>
            <th>Номер телефона</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelephoneNumber)
                </td>
                <td>
                    <button onclick="GetEditHospitalRequest(@item.Id)" class="btn btn-default">Изменить</button>
                    <button onclick="GetDetailsHospitalRequest(@item.Id)" class="btn btn-default">Подробнее</button>
                    <button onclick="GetDeleteHospitalRequest(@item.Id)" class="btn btn-default">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>
