@model IEnumerable<MedicalCertificates.DomainModel.Models.ApplicationUser>

<h2>Список пользователей</h2>
<p>
    <button onclick="GetCreateAccountRequest()" class="btn btn-info">Создать нового пользователя</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>В управлении</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pseudonim)
                </td>
                <td>
                    @{
                        var count = default(string);
                        var isDefaultUser = item is DefaultUser;
                        var isDepartmentManager = item is DepartmentManagerUser;

                        if (isDefaultUser)
                        {
                            var groupsCount = (item as DefaultUser).Groups.Count;
                            count =  groupsCount + " групп(ы)";
                        }
                        else if(isDepartmentManager)
                        {
                            if((item as DepartmentManagerUser).Department != null)
                            {
                                count = "Отделение " + (item as DepartmentManagerUser).Department.Name;
                            }
                            else
                            {
                                count = "Без отделения";
                            }
                        }
                    }
                    @count
                </td>
                <td>
                    <button onclick="GetEditUserNameRequest('@item.Id')" class="btn btn-default">Изменить имя</button>
                    @if (isDefaultUser)
                    {
                        <button onclick="GetEditUserGroupsRequest('@item.Id');" class="btn btn-default">Изменить список доступных групп</button>
                    }
                    else if (isDepartmentManager)
                    {
                        var department = (item as DepartmentManagerUser).Department;
                        var onClickDirective = (department != null) ? $"GetEditManagerDepartmentRequest('{item.Id}', {department.Id});" : $"GetEditManagerDepartmentRequest('{item.Id}');";
                        <button onclick="@onClickDirective" class="btn btn-default">Изменить отделение</button>
                    }
                    <button onclick="GetDeleteUserRequest('@item.Id')" class="btn btn-default">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>